<div class="container-fluid">
    <div class="row">
        <div class="col-6 imgP">
            <div class="b2g"></div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <!--Nav bar superior simple-->
                <nav style="width: 100%;" class="navbar navbar-expand-lg navbar-light BG">
                    <div class="container-fluid">
                        <a class="navbar-brand TxtC">LOGO</a>
                    </div>
                </nav>
            </div>
            <!-- Titulo -->
            <div class="row mx-auto my-5 pb-5 border-bottom">
                <p class="col text-center" style="font-family: Arial; font-size: 40px;">BIENVENIDO</p>
            </div>
            <div class="row">
                <!-- Card 1 -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 carta">
                    <a href="/QuejaCard" class="cartaVinculo">
                        <div class="card mb-5 mx-auto shadow" style="width: 14rem; height: 15rem;">
                            <img src="../../../assets/img/card_quejas.png" class="card-img-top imgcard" alt="Servicios" width="100%" height="70%" />
                            <div class="text-center mt-3">
                                <h4 class="card-title" style="font-family: Arial; font-weight: bold">QUEJA</h4>
                            </div>
                            <img src="../../../assets/img/icons/icono_buzon_quejas.svg" class="card-img-top imgcard" alt="Servicios" width="70%" height="40%" style="position: relative; top: -180px;"/>
                        </div>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 carta">
                    <a href="/PropuestaCard" class="cartaVinculo">
                        <div class="card mb-5 mx-auto shadow" style="width: 14rem; height: 15rem;">
                            <img src="../../../assets/img/Servicios.jpg" class="card-img-top imgcard" alt="Servicios" width="100%" height="70%" />
                            <div class="text-center mt-3">
                                <h4 class="card-title" style="font-family: Arial; font-weight: bold">PROPUESTA</h4>
                            </div>
                            <img src="../../../assets/img/icons/icono_propuestas.svg" class="card-img-top imgcard" alt="Servicios" width="70%" height="40%" style="position: relative; top: -180px;"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <!-- Card 3 -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 carta">
                    <a href="/ReporteCiCard" class="cartaVinculo">
                        <div class="card mb-5 mx-auto shadow" style="width: 14rem; height: 15rem;">
                            <img src="../../../assets/img/card_reporteciudadano.png" class="card-img-top imgcard" alt="Servicios" width="100%" height="70%" />
                            <div class="text-center mt-3">
                                <h4 class="card-title" style="font-family: Arial; font-weight: bold">REPORTE CIUDADANO</h4>
                            </div>
                            <img src="../../../assets/img/icons/icono_reporte-ciudadano.svg" class="card-img-top imgcard" alt="Servicios" width="70%" height="40%" style="position: relative; top: -180px;"/>
                        </div>
                    </a>
                </div>
                <!-- Card 4 -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 carta">
                    <a class="cartaVinculo">
                        <div class="card mb-5 mx-auto shadow" style="width: 14rem; height: 15rem;">
                            <img src="../../../assets/img/card_registrate.png" class="card-img-top imgcard" alt="Servicios" width="100%" height="70%" />
                            <div class="text-center mt-3">
                                <h4 class="card-title" style="font-family: Arial; font-weight: bold">REGISTRATE</h4>
                            </div>
                            <img src="../../../assets/img/icons/icono_logout.svg" class="card-img-top imgcard" alt="Servicios" width="70%" height="40%" style="position: relative; top: -180px;"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>