/*Texto y color de nabvar*/

.BG {
    background-color: #34051C;
}

.TxtC {
    color: white;
    font: Arial;
    font-weight: bold;
    margin-left: 4%;
}

.TxtC:hover {
    color: white;
}

a.cartaVinculo,
a.cartaVinculo:hover {
    color: inherit;
}

.imgP {
    display: flexbox;
    padding: 0;
}

@media only screen and (max-width: 992px) {

    .imgP {
        display: none;
    }

}