<body>

    <!--Nav bar superior simple-->
    <nav style="width: 100%;" class="navbar navbar-expand-lg navbar-light BG">
        <div class="container-fluid">
            <a class="navbar-brand TxtC">LOGO</a>
        </div>
    </nav>
    <!--Fin de navbar superior simple-->

    <div class="row">
        <div class="col">
            <div class="container m-5">
                <div class="text-left ml-3">
                    <fa-icon [icon]="faChevronLeft"></fa-icon> <a class="regreso" href="/Inicio"> Regresar</a>
                </div>
                <h2 class="text-center titulo">Reporte Cuidadano</h2>
                <div class="row mt-5">
                    <!--Contenedor de cards-->
                    <div class="container mx-auto row">
                        <!--Card de Seguridad-->
                        <div class="card mx-auto shadow" style="width: 13rem; height: 23rem ;">
                            <img src="https://mdbootstrap.com/img/new/standard/city/062.jpg" class="card-img-top" alt="..." />
                            <div class="text-center mt2">
                                <h5 class="card-title">Srguridad</h5>
                            </div>
                            <ul class="container">
                                <div class="container-fluid border-top border-black">
                                    <div data-spy="scroll" class="scrollspy-example text-center ">
                                        <br>
                                        <a class="lin" href="ReporteCi/1/Actividad_Ilícita"> Actividad Ilícita</a><br>
                                        <a class="lin" href="ReporteCi/2/Auto_abandonado"> Auto abandonado</a><br>
                                        <a class="lin" href="ReporteCi/3/Detección_de_Bandas"> Detección de bandas</a><br>
                                        <a class="lin" href="ReporteCi/4/Situación_de_riesgo"> Situación de Riesgo</a><br>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <!--Fin de card Seguridad-->
                        <!--Card Proteccion civil-->
                        <div class="card mx-auto shadow" style="width: 13rem; height: 23rem ;">
                            <img src="https://mdbootstrap.com/img/new/standard/city/062.jpg" class="card-img-top" alt="..." />
                            <div class="text-center mt2">
                                <h5 class="card-title">Protección Civil</h5>
                            </div>

                            <div class="container-fluid border-top border-black ">
                                <div data-spy="scroll" class="scrollspy-example text-center">
                                    <br><br>
                                    <a class="lin" href="ReporteCi/5/Control_animal"> Control animal</a><br>
                                    <a class="lin" href="ReporteCi/6/Daños_Estructurales"> Daños Estructurales</a><br>
                                    <a class="lin" href="ReporteCi/7/Incendios"> Incendios</a><br>
                                    <a class="lin" href="ReporteCi/8/Inundaciones"> Inundaciones</a><br>
                                </div>
                            </div>
                        </div>
                        <!--Fin de Proteccion civil-->
                    </div>
                    <!--Fin de contenedor de cards-->
                </div>
            </div>
        </div>
        <div class="border border-black imag container-fluid hgh">
            imagen
        </div>
    </div>
</body>