<body>
    <!--Nav bar superior simple-->
    <nav style="width: 100%;" class="navbar navbar-expand-lg navbar-light BG">
        <div class="container-fluid">
            <a class="navbar-brand TxtC" style="font-family: Arial">LOGO</a>
        </div>
    </nav>
    <!--Fin de navbar superior simple-->
    <div class="row">
        <div class="col">
            <div class="container m-5">
                <div class="text-left ml-3">
                    <fa-icon [icon]="faChevronLeft"></fa-icon> <a class="regreso" style="font-family: Arial" href="/Inicio"> Regresar</a>
                </div>
                <h2 class="text-center titulo">REPORTE CIUDADANO</h2>
                <div class="row mt-5">
                    <!--Contenedor de cards-->
                    <div class="container mx-auto row">
                        <!--Card de Seguridad-->
                        <div class="card mx-auto shadow" style="width: 12rem; height: 23rem ;">
                            <img src="../../../assets/img/seguridad.png" class="card-img-top imgcard" alt="..." />
                            <div class="text-center mt2">
                                <h5 class="card-title" style="font-size: 20px;"><fa-icon [icon]="faCertificate"></fa-icon> Seguridad</h5>
                            </div>
                            <ul class="container">
                                <div class="container-fluid border-top border-black">
                                    <div data-spy="scroll" class="scrollspy-example text-center ">
                                        <a class="lin" style="font-family: Arial" href="ReporteCi/3/3/Actividad_Ilícita"><fa-icon [icon]="faChevronRight"></fa-icon> Actividad Ilícita</a><br>
                                        <a class="lin" style="font-family: Arial" href="ReporteCi/3/1/Auto_abandonado"><fa-icon [icon]="faChevronRight"></fa-icon> Auto Abandonado</a><br>
                                        <a class="lin" style="font-family: Arial" href="ReporteCi/3/2/Detección_de_Bandas"><fa-icon [icon]="faChevronRight"></fa-icon> Detección De Bandas</a><br>
                                        <a class="lin" style="font-family: Arial" href="ReporteCi/3/4/Situación_de_riesgo"><fa-icon [icon]="faChevronRight"></fa-icon> Situación De Riesgo</a><br>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <!--Fin de card Seguridad-->
                        <!--Card Proteccion civil-->
                        <div class="card mx-auto shadow" style="width: 12rem; height: 23rem ;">
                            <img src="../../../assets/img/proteccion_civil.png" class="card-img-top imgcard" alt="..." />
                            <div class="text-center mt2">
                                <h5 class="card-title" style="font-size: 20px;"><fa-icon [icon]="faCertificate"></fa-icon> Protección Civil</h5>
                            </div>
                            <div class="container-fluid border-top border-black ">
                                <div data-spy="scroll" class="scrollspy-example text-center">
                                    <a class="lin" style="font-family: Arial" href="ReporteCi/4/6/Control_animal"><fa-icon [icon]="faChevronRight"></fa-icon> Control Animal</a><br>
                                    <a class="lin" style="font-family: Arial" href="ReporteCi/4/5/Daños_Estructurales"><fa-icon [icon]="faChevronRight"></fa-icon> Daños Estructurales</a><br>
                                    <a class="lin" style="font-family: Arial" href="ReporteCi/4/7/Incendios"><fa-icon [icon]="faChevronRight"></fa-icon> Incendios</a><br>
                                    <a class="lin" style="font-family: Arial" href="ReporteCi/4/8/Inundaciones"><fa-icon [icon]="faChevronRight"></fa-icon> Inundaciones</a><br>
                                </div>
                            </div>
                        </div>
                        <!--Fin de Proteccion civil-->
                    </div>
                    <!--Fin de contenedor de cards-->
                </div>
            </div>
        </div>
        <div class="imag">
            <div class="b2g">

            </div>
        </div>
    </div>
</body>