<div class="container-fluid">
    <h2 align="center">Nueva receta</h2>

    <div class="form-group">
        <div class="formControl">
            <label for="name" class="positiontop">
                NOMBRE COMPLETO*:
            </label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-5 mt-4">
            <div class="formControl">
                <label for="name" class="positiontop2">
                    TELÉFONO*:
                </label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col mt-4">
            <div class="formControl">
                <label for="name" class="positiontop2">
                    CORREO ELECTRÓNICO*:
                </label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-5 mt-4">
            <div class="formControl">
                <label for="name" class="positiontop2">
                    CÓDIGO POSTAL*:
                </label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary botontop" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="formControl">
                <label for="name" class="positiontop2">
                    COLONIA*:
                </label>
                <ul class="dropdown-menu">
                    <li>
                        <button type="button" class="btn btn-block"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="form-group">
                <div class="formControl">
                    <label for="name" class="positiontop3">
                        TIPO DE REPORTE*:
                    </label>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="form-group">
                <div class="formControl">
                    <label for="name" class="positiontop3">
                        PROBLEMA*:
                    </label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="form-group">
                <div class="formControl">
                    <label for="name" class="positiontop3">
                        PROPUESTA*:
                    </label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mt-4">
            <div class="formControl">
                <label for="name" class="positiontop2">
                    ANEXAR DOCUMENTO*:
                </label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary botontop2" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-secondary botontop3" type="button">Button</button>
        </div>
    </div>

</div>