<div class="row titulo mt-3">
        <p class="col text-center"
           style="font-family: Arial; font-weight: bold; font-size: 30px;">REPORTES</p>
</div>


<div class="row titulo mt-5 mx-auto">
        <div class="col text-left">
                <p style="font-family: Arial; font-size: 30px; margin-top: 10px; margin-left: 100px;">Quejas</p>
                <!-- Grafica -->
                <div class="col">
                        <google-chart #chart
                                      [type]="quejasChart.type"
                                      [data]="quejasChart.data"
                                      [options]="quejasChart.options"
                                      [width]="quejasChart.width"
                                      [height]="quejasChart.height"
                                      style="margin: auto;">
                        </google-chart>
                </div>
        </div>
        <!-- Filtro -->
        <div class="col text-right"
             style="display: inline-block;">
                <label class="text-left"
                       style="font-family: Arial; font-weight: bold; font-size: 10px; display: block;">FILTRAR</label>
                <div class="dropdown border border-dark rounded">
                        <button id="selector"
                                class="btn btn-block dropdown-toggle text-right"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                style="color:#CCD1D1">
                                {{ph}}
                        </button>
                        <div class="dropdown-menu"
                             style="width: 100%;">
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-4"
                                        type="button"
                                        style="font-weight: bold;"
                                        (click)="filtroQ(1,0,'Servicios')">Servicios</button>
                                <div class="dropdown-divider"></div>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(1,1,'Drenaje')">Drenaje</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(1,2,'Alumbrado Público')">Alumbrado Público</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(1,3, 'Sanidad' )">Sanidad</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(1,4, 'Dependencias Públicas')">Dependencias Públicas</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(1,5,'Postes')">Postes</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-4"
                                        type="button"
                                        style="font-weight: bold;"
                                        (click)="filtroQ(2,0,'Vialidad')">Vialidad</button>
                                <div class="dropdown-divider"></div>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(2,6,'Vía Dañada')">Vía Dañada</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(2,7,'Vía Obstruida')">Vía Obstruida</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(2,8,'Semáforo')">Semáforo</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(2,9,'Tráfico')">Tráfico</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(2,10,'Vía Peatonal')">Vía Peatonal</button>
                                <div class="dropdown-divider"></div>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroQ(0,0, 'Sin filtro')"
                                        style="color: #CCD1D1;">Sin filtro</button>
                        </div>
                </div>
                <form>
                        <div class="mt-5 input-group">
                                <label class="text-left"
                                       style="font-family: Arial; font-weight: bold; font-size: 10px; display: block; position: absolute; top: -25px;">FECHA
                                        DE INICIO</label>
                                <div class="input-group-append">
                                        <input class="form-control"
                                               placeholder="yyyy-mm-dd"
                                               ngbDatepicker
                                               #dp="ngbDatepicker"
                                               #feci
                                               required>
                                        <button class="btn btn-outline-secondary calendar rounded"
                                                (click)="dp.toggle();"
                                                type="button"></button>
                                </div>
                                <button class="btn btn-outline-secondary ml-2"
                                        (click)=fechaModQ(feci.value)> Consultar periodo </button>
                        </div>
                </form>
        </div>
</div>

<div class="row titulo mt-5 mx-auto">
        <div class="col text-left">
                <p style="font-family: Arial; font-size: 30px; margin-top: 10px; margin-left: 100px;">Propuestas</p>
                <!-- Grafica -->
                <div class="col">
                        <google-chart #chart
                                      [type]="PChart.type"
                                      [data]="PChart.data"
                                      [options]="PChart.options"
                                      [width]="PChart.width"
                                      [height]="PChart.height"
                                      style="margin: auto;">
                        </google-chart>
                </div>
        </div>
        <!-- Filtro -->
        <div class="col text-right"
             style="display: inline-block;">
                <label class="text-left"
                       style="font-family: Arial; font-weight: bold; font-size: 10px; display: block;">FILTRAR</label>
                <div class="dropdown border border-dark rounded">
                        <button id="selector"
                                class="btn btn-block dropdown-toggle text-right"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                style="color:#CCD1D1">
                                {{php}}
                        </button>
                        <div class="dropdown-menu"
                             style="width: 100%;">
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-4"
                                        type="button"
                                        style="font-weight: bold;"
                                        (click)="filtroP(1,0,'Servicios')">Servicios</button>
                                <div class="dropdown-divider"></div>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(1,1,'Drenaje')">Drenaje</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(1,2,'Alumbrado Público')">Alumbrado Público</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(1,3, 'Sanidad' )">Sanidad</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(1,4, 'Dependencias Públicas')">Dependencias Públicas</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(1,5,'Postes')">Postes</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-4"
                                        type="button"
                                        style="font-weight: bold;"
                                        (click)="filtroP(2,0,'Vialidad')">Vialidad</button>
                                <div class="dropdown-divider"></div>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(2,6,'Vía Dañada')">Vía Dañada</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(2,7,'Vía Obstruida')">Vía Obstruida</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(2,8,'Semáforo')">Semáforo</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(2,9,'Tráfico')">Tráfico</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(2,10,'Vía Peatonal')">Vía Peatonal</button>
                                <div class="dropdown-divider"></div>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroP(0,0, 'Sin filtro')"
                                        style="color: #CCD1D1;">Sin filtro</button>
                        </div>
                </div>
                <form>
                        <div class="mt-5 input-group">
                                <label class="text-left"
                                       style="font-family: Arial; font-weight: bold; font-size: 10px; display: block; position: absolute; top: -25px;">FECHA
                                        DE INICIO</label>
                                <div class="input-group-append">
                                        <input class="form-control"
                                               placeholder="yyyy-mm-dd"
                                               ngbDatepicker
                                               #dpP="ngbDatepicker"
                                               #fecip
                                               required>
                                        <button class="btn btn-outline-secondary calendar rounded"
                                                (click)="dpP.toggle();"
                                                type="button"></button>
                                </div>
                                <button class="btn btn-outline-secondary ml-2"
                                        (click)=fechaModP(fecip.value)> Consultar periodo </button>
                        </div>
                </form>
        </div>
</div>
<div class="row titulo mt-5 mx-auto">
        <div class="col text-left">
                <p style="font-family: Arial; font-size: 30px; margin-top: 10px; margin-left: 100px;">Reporte ciudadano
                </p>
                <!-- Grafica -->
                <div class="col">
                        <google-chart #chart
                                      [type]="RCChart.type"
                                      [data]="RCChart.data"
                                      [options]="RCChart.options"
                                      [width]="RCChart.width"
                                      [height]="RCChart.height"
                                      style="margin: auto;">
                        </google-chart>
                </div>
        </div>
        <!-- Filtro -->
        <div class="col text-right"
             style="display: inline-block;">
                <label class="text-left"
                       style="font-family: Arial; font-weight: bold; font-size: 10px; display: block;">FILTRAR</label>
                <div class="dropdown border border-dark rounded">
                        <button id="selector"
                                class="btn btn-block dropdown-toggle text-right"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                style="color:#CCD1D1">
                                {{phrc}}
                        </button>
                        <div class="dropdown-menu"
                             style="width: 100%;">
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-4"
                                        type="button"
                                        style="font-weight: bold;"
                                        (click)="filtroRC(3,0, 'Seguridad')">Seguridad</button>
                                <div class="dropdown-divider"></div>

                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(3,1, 'Auto Abandonado')">Auto Abandonado</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(3,2, 'Detección De Bandas')">Detección De Bandas</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(3,3, 'Actividad Ilícita' )">Actividad Ilícita</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(3,4, 'Situación De Riesgo')">Situación De Riesgo</button>

                                <div class="dropdown-divider"></div>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-4"
                                        type="button"
                                        style="font-weight: bold;"
                                        (click)="filtroRC(4,0,'Protección Civil')">Protección Civil</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(4,5,'Daños Estructurales')">Daños Estructurales</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(4,6,'Control Animal')">Control Animal</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(4,7,'Incendios')">Incendios</button>
                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(4,8,'Inundaciones')">Inundaciones</button>

                                <div class="dropdown-divider"></div>

                                <button id="selectorBtn"
                                        class="btn btn-block dropdown-item text-left pl-5"
                                        type="button"
                                        (click)="filtroRC(0,0,'Sin filtro')"
                                        style="color: #CCD1D1;">Sin filtro</button>
                        </div>
                </div>
                <form>
                        <div class="mt-5 input-group">
                                <label class="text-left"
                                       style="font-family: Arial; font-weight: bold; font-size: 10px; display: block; position: absolute; top: -25px;">FECHA
                                        DE INICIO</label>
                                <div class="input-group-append">
                                        <input class="form-control"
                                               placeholder="yyyy-mm-dd"
                                               ngbDatepicker
                                               #dRC="ngbDatepicker"
                                               #fecirc
                                               required>
                                        <button class="btn btn-outline-secondary calendar rounded"
                                                (click)="dRC.toggle();"
                                                type="button"></button>
                                </div>
                                <button class="btn btn-outline-secondary ml-2"
                                        (click)=fechaModRC(fecirc.value)> Consultar periodo </button>
                        </div>
                </form>
        </div>
</div>