<body>

    <!-- Mensajes -->
    <div class="alert alert-danger" role="alert" *ngIf="">
        Usuario o contraseña incorrectas.
    </div>

    <div class="d-flex align-items-center justify-content-center m-5 sp" style="height: 350px;">
        <div class="rounded border border-black shadow" style="width: 30%;">
            <div class="BG container-fluid text-center rounded-top">
                <label class="TxtC p-3">INICIO DE SESIÓN</label>
            </div>
            <div class="container p-5">
                <label class="etqt">USUARIO *</label>
                <input type="text" formControlName="usuario" class="form-control input border-bottom border-top-0 border-left-0 border-right-0" placeholder="ejemplo@ejemplo.com" maxlength="15" required #nombre/>
                <label class="etqt mt-4">CONTRASEÑA *</label>
                <div class="input-group">
                    <input #x type="password" class="form-control border-top-0 border-left-0 border-right-0" formControlName="password" placeholder="**********" maxlength="15" id="password" required #pass />
                    <div class="input-group-append c-pointer" (click)="x.type = x.type == 'password' ? 'text' : 'password'">
                        <span class="input-group-text bg-white border-top-0 border-right-0">
                            <fa-icon [icon]="faEyeSlash"></fa-icon>
                        </span>
                    </div>
                </div>
                <div class="form-check checkbox-rounded form-check mt-4 text-center">
                    <input type="checkbox" class="form-check-input filled-in" id="Recordar">
                    <label class="form-check-label" for="Recordar">Recordar</label>
                </div>
                <button class="btn btn-block BG TxtC2 mt-4">INGRESAR</button>
            </div>
        </div>
    </div>

</body>