.vertical-offset-100 {
    padding-top: 100px;
}

.alerta {
    font-size: 10px;
    color: darkred;
}

.BG {
    background-color: #34051C;
}

.TxtC {
    color: white;
    font: Arial;
    margin-top: 2%;
    font-size: 18px;
}

.etqt {
    font-size: 12px;
}

.sp {
    padding-top: 12%;
}

.TxtC2 {
    color: white;
    font: Arial;
    margin-left: 4%;
}

.b2g {
    /* The image used */
    position: absolute;
    padding-top: 3%;
    background-image: url("../../../assets/img/login_admin.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: darkcyan;
    padding-bottom: 15%;
    width: 100%;
}

body {
    height: 100%;
}

.redondeado {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.redondeado2 {
    -webkit-border-top-left-radius: 35px;
    -webkit-border-top-right-radius: 35px;
    -moz-border-radius-topleft: 35px;
    -moz-border-radius-topright: 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

@media only screen and (max-width: 768px) {
    .b2g {
        /* The image used */
        padding-top: 3%;
        background-image: url("../../../assets/img/login_admin.png");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: darkcyan;
    }
    .carsin {
        width: 97%;
    }
}