<body>

    <!--Nav bar superior simple-->
    <nav style="width: 100%;" class="navbar navbar-expand-lg navbar-light BG">
        <div class="container-fluid">
            <a class="navbar-brand TxtC" style="font-family: Arial">LOGO</a>
        </div>
    </nav>
    <!--Fin de navbar superior simple-->

    <div class="row al">
        <div class="col">
            <div class="container m-5">
                <div class="text-left ml-3">
                    <fa-icon [icon]="faChevronLeft"></fa-icon> <a class="regreso" style="font-family: Arial" href="/Inicio"> Regresar</a>
                </div>
                <h2 class="text-center titulo">PROPUESTAS</h2>
                <div class="row mt-5">
                    <!--Contenedor de cards-->
                    <div class="container mx-auto row">
                        <!--Card de Servicios-->
                        <div class="card mx-auto shadow" style="width: 13rem; height: 23rem ;">
                            <img src="../../../assets/img/Servicios.jpg" class="card-img-top imgcard" alt="..." />
                            <div class="text-center mt2">
                                <h5 class="card-title" style="font-size: 20px;">Servicios</h5>
                            </div>
                            <ul class="container">
                                <div class="container-fluid border-top border-black">
                                    <div data-spy="scroll" class="scrollspy-example text-center ">

                                        <a class="lin" style="font-family: Arial" href="Propuesta/1/2/Alumbrado_Público"><fa-icon [icon]="faChevronRight"></fa-icon> Alumbrado Público  </a><br>
                                        <a class="lin" style="font-family: Arial" href="Propuesta/1/4/Dependencias_Públicas"><fa-icon [icon]="faChevronRight"></fa-icon> Dependencias Públicas</a><br>
                                        <a class="lin" style="font-family: Arial" href="Propuesta/1/1/Drenaje"><fa-icon [icon]="faChevronRight"></fa-icon> Drenaje</a><br>
                                        <a class="lin" style="font-family: Arial" href="Propuesta/1/5/Postes"><fa-icon [icon]="faChevronRight"></fa-icon> Postes</a><br>
                                        <a class="lin" style="font-family: Arial" href="Propuesta/1/3/Sanidad"><fa-icon [icon]="faChevronRight"></fa-icon> Sanidad</a><br>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <!--Fin de card Servicios-->
                        <!--Card vialidad-->
                        <div class="card mx-auto shadow" style="width: 13rem; height: 23rem ;">
                            <img src="../../../assets/img/Vialidaad.png" class="card-img-top imgcard" alt="..." />
                            <div class="text-center mt2">
                                <h5 class="card-title" style="font-size: 20px;">Vialidad</h5>
                            </div>

                            <div class="container-fluid border-top border-black ">
                                <div data-spy="scroll" class="scrollspy-example text-center">
                                    <br>
                                    <a class="lin" style="font-family: Arial" href="Propuesta/2/8/Semáforo"><fa-icon [icon]="faChevronRight"></fa-icon>  Semáforo</a><br>
                                    <a class="lin" style="font-family: Arial" href="Propuesta/2/9/Tráfico"><fa-icon [icon]="faChevronRight"></fa-icon>  Tráfico</a><br>
                                    <a class="lin" style="font-family: Arial" href="Propuesta/2/6/Vía_Dañada"><fa-icon [icon]="faChevronRight"></fa-icon>  Vía Dañada</a><br>
                                    <a class="lin" style="font-family: Arial" href="Propuesta/2/7/Vía_Obstruida"><fa-icon [icon]="faChevronRight"></fa-icon>  Vía Obstruida</a><br>
                                    <a class="lin" style="font-family: Arial" href="Propuesta/2/10/Vía_Peatonal"><fa-icon [icon]="faChevronRight"></fa-icon>  Vía Peatonal</a><br>
                                </div>
                            </div>
                        </div>
                        <!--Fin de card vialidad-->
                    </div>
                    <!--Fin de contenedor de cards-->
                </div>
            </div>
        </div>
        <div class="">
            <div class="col imag">
                <div class="b2g">

                </div>
            </div>
        </div>
    </div>
</body>