/* Menu de navegacion lateral */

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3f1121;
    overflow-x: hidden;
    transition: 0.5s;
}


/* Etiquetas a correspondientes al logosidenav */

#logoSidenav {
    padding: 48px 48px 100px 48px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 33px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* Etiquetas a correspondientes al Fake logosidenav */

#fakelogoSidenav {
    padding: 48px 1px 100px 1px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 33px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* Etiquetas a correspondientes al sidenav */

.sidenav a {
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    height: 60px;
}

/* Cambio de color al colocarse sobre el logo */

#logoSidenav:hover,
#fakelogoSidenav:hover {
    background-color: #3f1121;
}


/* Cambio de color al colocarse sobre las etiquetas de a */

.sidenav a:hover {
    background-color: #5e1932;
}

/* Switch entre navbars */

.responsivo {
    display: none;
}

.normal {
    display: block;
}

#botonNav {
    transition: .5s;
    z-index: 1;
    margin-left: 0px;
}

.iconoN {
    display: inline-block;
}

.iconoR {
    display: none;
}

/* Pagina principal */

#main {
    margin-left: 100px;
    transition: margin-left .5s;
    padding: 20px;
}

.cuadroEncabezado {
    border-style: solid;
    border-width: 1px;
    border-color: #909497;
    font-family: Arial;
    font-weight: bold;
    padding: 8px 1px 8px 1px;
}

.cuadro {
    border-style: solid;
    border-width: 1px;
    border-color: #909497;
    font-family: Arial;
    font-size: smaller;
    padding: 8px 8px 8px 8px;
}

*:focus {
    outline: 0;
    box-shadow: none;
}

#selector {
    background-color: white;
    color: #CCD1D1;
}

#selectorBtn {
    background-color: white;
    color: black;
}

#selectorBtn:hover {
    background-color: #0B5345;
    color: white;
}

.dropdown-item {
    font-family: Arial;
}

.btn:hover {
    background-color: #0B5345;
    color: white;
}


/* Cuerpo de la pagina */

.desaparece {
    display: block;
}

@media only screen and (max-width: 960px) {

    #main {
        margin-left: 140px;
        transition: margin-left .5s;
    }

    .sidenav {
        width: 140px;
        transition: 0.5s;
    }

    #logoSidenav {
        font-size: 43px;
    }

    .sidenav a {
        font-size: 33px;
        transition: 0.3s;
        height: 100px;
    }

    .responsivo {
        display: block;
        z-index: 1;
        background-color: white;
        margin-left: 1%;
    }
    
    .normal {
        display: none;
    }

    .iconoN {
        display: none;
    }

    .iconoR {
        display: inline-block;
    }

    .desaparece {
        display: none;
    }
    
}